<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from www.hiveart.xyz/perez-bootstrap/light-version/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Sep 2024 17:47:20 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Perez - Personal Portfolio HTML Template</title>
    <meta name="AdsBot-Google" content="noindex follow" />
    <meta
      name="description"
      content="Perez - Personal Portfolio HTML Template"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&amp;family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Syne:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/pages/home.css" />
    <link rel="stylesheet" href="assets/navbar.css" />
  </head>

  <body>
    <div class="overflow-x-hidden">
      <!-- Header start -->
      <header class="imported-header">
        <nav class="imported-nav container">
          <div class="imported-nav__data">
            <a href="/" class="imported-nav__logo">
              <i class="ri-planet-line"></i> Dr.Priyanka
            </a>

            <div class="imported-nav__toggle" id="nav-toggle">
              <i class="ri-menu-line imported-nav__burger"></i>
              <i class="ri-close-line imported-nav__close"></i>
            </div>
          </div>

          <!--=============== NAV MENU ===============-->
          <div class="imported-nav__menu" id="nav-menu">
            <ul
              class="imported-nav__list"
              style="margin-left: 0px; padding-left: 0px"
            >
              <li><a href="/" class="imported-nav__link">Home</a></li>

              <li><a href="/about" class="imported-nav__link">About</a></li>

              <!--=============== DROPDOWN 1 ===============-->
              <li class="imported-dropdown__item">
                <a href="/blog" class="imported-nav__link">
                  Blogs
                  <i class="ri-arrow-down-s-line imported-dropdown__arrow"></i>
                </a>

                <ul
                  class="imported-dropdown__menu"
                  style="margin-left: 0px; padding-left: 0px"
                >
                  <li>
                    <a
                      href="/building-self-esteem-foundation-mental-well-being"
                      class="imported-dropdown__link"
                    >
                      building-self-esteem-foundation-mental-well-being
                    </a>
                  </li>
                </ul>
              </li>

              <li><a href="/contact" class="imported-nav__link">Contact</a></li>

              <!--=============== DROPDOWN 2 ===============-->
            </ul>
          </div>
        </nav>
      </header>
      <!-- About Me Sectin Start -->
      <section class="bg-secondary pt-20 pb-120 mt-5" data-aos="zoom-in">
        <div class="container">
          <div class="about-grid">
            <img class="mx-auto" src="priyankabout.png" alt="about me" />
            <div
              class="fw-bold font-Syne leading-none d-flex flex-wrap flex-column gap-y-2"
            >
              <span class="text-warning text-xl">About me</span>
              <h3 class="text-dark section-title">Dr Priyanka</h3>

              <h4 class="text-dark text-2xl mt-3 mb-4">
                Counseling Psychologist
              </h4>
              <p class="text-dark text-xl fw-bold font-Syne leading-7 mb-6">
                Dr. Priyanka has spent years helping individuals transform their
                self-perception and build lasting self-esteem.
              </p>
              <p class="paragraph mb-6">
                Understanding that self-esteem is not fixed, Dr. Priyanka
                emphasizes the importance of self-awareness and conscious effort
                in personal development. She believes in the power of healing
                and reflection, helping clients address foundational wounds and
                visualize a healthier self-image.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- About Me Sectin End -->

      <!-- Experience Sectin Start -->
      <section class="bg-white py-120 overflow-x-hidden">
        <div class="container" data-aos="zoom-out">
          <div class="about-grid-section-two">
            <div
              class="fw-bold font-Syne leading-none d-flex flex-wrap flex-column gap-y-2"
            >
              <h3 class="text-dark section-title mb-5">
                My vision is to create happy clients
              </h3>
              <p class="paragraph mb-7">
                I aim to create a supportive environment where clients can
                explore their strengths, overcome challenges, and build a
                fulfilling, balanced life. Through personalized therapy and
                ongoing guidance, my goal is to inspire lasting positive change
                and help each person realize their full potential
              </p>
            </div>

            <div class="d-flex flex-column justify-content-end">
              <div
                class="d-flex flex-wrap flex-column years-of-experience mb-12"
              >
                <span
                  class="years-experience-of-number text-dark fw-bold font-Syne leading-none d-inline-block position-relative"
                  >20+</span
                >
                <span class="strock-text"
                  >Years of <br />
                  experience</span
                >
              </div>

              <div
                class="bg-dark d-flex flex-wrap justify-content-between align-items-end say-hello-contact-box"
              >
                <div class="d-flex flex-column flex-wrap gap-y-2">
                  <span class="text-warning text-lg fw-normal leading-none"
                    >SAY HELLO!</span
                  >
                  <h4
                    class="text-white text-2xl fw-bold font-Syne leading-none mb-0"
                  >
                    drpriyaanka<span style="font-size: 42px">1</span>@gmail.com
                  </h4>
                </div>
                <div class="d-flex flex-wrap justify-content-end">
                  <a
                    href="mailto:drpriyaanka1@gmai.com"
                    class="animate-arrow-up"
                  >
                    <svg
                      width="48"
                      height="48"
                      viewBox="0 0 48 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M14 34L34 14"
                        stroke="#FFB646"
                        stroke-width="3.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14 14H34V34"
                        stroke="#FFB646"
                        stroke-width="3.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Experience Sectin End -->

      <!-- Video Section Start -->

      <div class="bg-white pb-120">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="position-relative" data-aos="zoom-in-up">
                <img
                  class="rounded-2xl"
                  src="/videoimage.jpg"
                  alt="video image"
                />
                <a
                  href="https://www.youtube.com/watch?v=CPfHJMAJzuU"
                  class="video-popup play-button"
                >
                  <svg
                    width="100"
                    height="100"
                    viewBox="0 0 100 100"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <circle
                      class="fill-primary group-hover:fill-yellow transition-all duration-300"
                      cx="50"
                      cy="50"
                      r="50"
                    />
                    <path
                      class="stroke-black-800 group-hover:stroke-white"
                      d="M43 41L57 50L43 59V41Z"
                      stroke-opacity="0.9"
                      stroke-width="3.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Video Section End -->
      <footer class="footer bg-dark">
        <div class="container">
          <div
            class="overflow-x-hidden"
            data-aos="flip-down"
            data-aos-delay="500"
          >
            <div class="footer-grid">
              <div class="pt-12">
                <h3 class="section-title text-white mb-0">
                  <span class="position-relative circle-shape footer-shape"
                    >Le</span
                  >
                  t’s work together
                </h3>
                <div class="d-flex flex-wrap align-items-center mt-10">
                  <span class="text-xl fw-bold font-Syne text-white"
                    >Based in India |</span
                  >
                </div>
              </div>

              <div
                class="d-flex flex-column justify-content-between service-contact-card-footer"
              >
                <h3 class="text-xl fw-bold font-Syne text-white">
                  Looking for a Counseling Psychologist?
                </h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p
                    class="text-2xl fw-bold font-Syne leading-none text-warning"
                  >
                    drpriyaanka<span style="font-size: 34px">1</span>@gmail.com
                  </p>
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    class="text-white animate-arrow-up"
                  >
                  </a>
                </div>
              </div>

              <div
                class="d-flex flex-column justify-content-between service-contact-card-footer"
              >
                <h3 class="text-xl fw-bold font-Syne text-white">
                  Want book an appointment?
                </h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p
                    class="text-2xl fw-bold font-Syne leading-none text-warning"
                  >
                    WhatsApp me 9453430043
                  </p>
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    target="_blank"
                    class="text-white animate-arrow-up"
                  >
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                      <path
                        d="M11.6667 28.3334L28.3334 11.6667"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M11.6667 11.6667H28.3334V28.3334"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="py-72">
                  <svg
                    class="w-100"
                    width="1281"
                    height="77"
                    viewBox="0 0 1281 77"
                    fill="none"
                  >
                    <text
                      x="50%"
                      y="50%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                      font-family="Arial, sans-serif"
                      font-size="60"
                      fill="#FFE9D9"
                      dy=".3em"
                    >
                      DR PRIYANKA
                    </text>
                  </svg>
                </div>
              </div>
            </div>

            <div class="pt-6 copyright">
              <div class="row">
                <div class="col-12 col-sm-8 order-last order-sm-first">
                  <p class="text-white text-lg fw-normal font-sans leading-7">
                    ©2024 Dr Priyanka, All Rights Reserved
                  </p>
                </div>
                <div class="col-12 col-sm-4 order-first order-sm-last">
                  <div class="d-flex justify-content-end mb-2 mb-sm-0">
                    <a
                      id="scrollUp"
                      class="d-flex flex-wrap align-items-center gap-2"
                      href="#"
                      aria-label="scroll up"
                    >
                      <span
                        class="text-white text-lg fw-normal font-sans leading-7 transition-all"
                      >
                        Back to Top</span
                      >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 19V5"
                          stroke="#FFB646"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M19 12L12 5L5 12"
                          stroke="#FFB646"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
    </div>

    <!-- JS Vendor, Plugins & Activation Script Files -->
    <script>
      /*=============== SHOW MENU ===============*/
      const showMenu = (toggleId, navId) => {
        const toggle = document.getElementById(toggleId),
          nav = document.getElementById(navId);

        toggle.addEventListener("click", () => {
          // Add show-menu class to nav menu
          nav.classList.toggle("show-menu");

          // Add show-icon to show and hide the menu icon
          toggle.classList.toggle("show-icon");
        });
      };

      showMenu("nav-toggle", "nav-menu");
    </script>
    <!-- Vendors JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/aos.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- Activation JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
