<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from www.hiveart.xyz/perez-bootstrap/light-version/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Sep 2024 17:47:29 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      Doctor Priyanka - Blogs -
      building-self-esteem-foundation-mental-well-being
    </title>
    <meta name="AdsBot-Google" content="noindex follow" />
    <meta
      name="description"
      content="Perez - Personal Portfolio HTML Template"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&amp;family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Syne:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/pages/home.css" />
    <link rel="stylesheet" href="assets/navbar.css" />
  </head>

  <body>
    <div class="overflow-x-hidden">
      <header class="imported-header">
        <nav class="imported-nav container">
          <div class="imported-nav__data">
            <a href="/" class="imported-nav__logo">
              <i class="ri-planet-line"></i> Dr.Priyanka
            </a>

            <div class="imported-nav__toggle" id="nav-toggle">
              <i class="ri-menu-line imported-nav__burger"></i>
              <i class="ri-close-line imported-nav__close"></i>
            </div>
          </div>

          <!--=============== NAV MENU ===============-->
          <div class="imported-nav__menu" id="nav-menu">
            <ul
              class="imported-nav__list"
              style="margin-left: 0px; padding-left: 0px"
            >
              <li><a href="/" class="imported-nav__link">Home</a></li>

              <li><a href="/about" class="imported-nav__link">About</a></li>

              <!--=============== DROPDOWN 1 ===============-->
              <li class="imported-dropdown__item">
                <a href="/blog" class="imported-nav__link">
                  Blogs
                  <i class="ri-arrow-down-s-line imported-dropdown__arrow"></i>
                </a>

                <ul
                  class="imported-dropdown__menu"
                  style="margin-left: 0px; padding-left: 0px"
                >
                  <li>
                    <a
                      href="/building-self-esteem-foundation-mental-well-being"
                      class="imported-dropdown__link"
                    >
                      building-self-esteem-foundation-mental-well-being
                    </a>
                  </li>
                </ul>
              </li>

              <li><a href="/contact" class="imported-nav__link">Contact</a></li>

              <!--=============== DROPDOWN 2 ===============-->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Hero Section Start -->
      <section class="bg-secondary pt-20 mt-5">
        <div
          class="max-w-1075 mx-auto banner-contents"
          data-aos="flip-down"
          data-aos-delay="300"
        >
          <div class="grid grid-cols-1">
            <h4
              class="text-dark fw-bold font-Syne leading-snug banner-title max-w-950 mb-12"
            >
              Building Self-Esteem: The Foundation of Mental Well-Being
            </h4>
            <img class="w-100 rounded-20 mb-9" src="blog1.jpg" alt="banner" />
          </div>
        </div>
      </section>
      <!-- Hero Section End -->

      <section class="bg-white blog-details-section pb-120">
        <div class="max-w-1075 mx-auto banner-contents">
          <div class="grid grid-cols-1 mb-12">
            <ul class="d-flex flex-wrap list-unstyled blog-clients-info">
              <li class="d-flex flex-wrap gap-3">
                <img
                  class="align-self-start"
                  src="blogselfimage.png"
                  alt="user image"
                />
                <div class="flex-1 d-flex flex-column gap-3">
                  <span
                    class="clients-info-text text-sm fw-normal font-Inter leading-tight"
                    >Written by</span
                  >
                  <h2 class="text-dark text-15 fw-bold font-sans leading-none">
                    Dr Priyanka
                  </h2>
                </div>
              </li>
              <li class="d-d-flex flex-wrap flex-column gap-3">
                <span
                  class="clients-info-text text-sm fw-normal font-Inter leading-tight"
                  >Category</span
                >
                <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                  Selfy Esteem
                </h4>
              </li>
              <li class="d-d-flex flex-wrap flex-column gap-3">
                <span
                  class="clients-info-text text-sm fw-normal font-Inter leading-tight"
                  >Date</span
                >
                <h4 class="text-dark text-15 fw-bold font-sans leading-none">
                  02/09/2024
                </h4>
              </li>
            </ul>
          </div>
          <div class="grid grid-cols-1">
            <h3 class="text-2xl fw-bold font-Syne leading-10 mb-5">
              About the Blog
            </h3>
            <p class="paragraph mb-12">
              Self-esteem is the cornerstone of our mental and emotional health.
              It affects how we perceive ourselves, how we interact with others,
              and how we handle life’s challenges
            </p>
            <p class="paragraph mb-12">
              Self-esteem plays a critical role in shaping our mental and
              emotional well-being. This blog explores the importance of
              building self-esteem, the challenges associated with low
              self-esteem, and practical steps to enhance self-worth. By
              understanding and improving our self-esteem, we can lead more
              fulfilling and confident lives.
            </p>

            <p class="paragraph mb-12">
              Building self-esteem is a journey, not a destination. It requires
              self-awareness, patience, and a commitment to personal growth. By
              focusing on your strengths, challenging negative beliefs, and
              practicing self-care, you can cultivate a healthier self-esteem
              that will enhance your overall well-being. Remember, the journey
              to better self-esteem is a gradual process, but with perseverance,
              you can achieve a more positive and fulfilling life.
            </p>
          </div>
          <div class="row gy-4 gy-md-6 mb-12">
            <div class="col-6">
              <img
                class="w-100 h-100 rounded-20p"
                src="blog12.jpeg"
                alt="post image"
              />
            </div>
            <div class="col-6">
              <img
                class="w-100 h-100 rounded-20p"
                src="blog12.jpeg"
                alt="post image"
              />
            </div>
          </div>

          <div class="grid grid-cols-1 gap-6">
            <h3 class="text-2xl fw-bold font-Syne leading-10">
              1. What is Self-Esteem?
            </h3>
            <p class="paragraph">
              Self-esteem is our overall sense of value and self-worth. It's how
              we judge ourselves and impacts everything from our decision-making
              to our relationships. High self-esteem leads to a more positive
              outlook on life, while low self-esteem can result in self-doubt
              and negativity.
            </p>
            <p class="paragraph mb-12">
              Change Your Narrative: Replace self-critical thoughts with
              positive affirmations. Focus on your strengths and achievements to
              build confidence.
            </p>
            <p class="paragraph mb-12">
              Explore and Develop Strengths: Identify and work on your
              strengths. Engaging in activities you love can help uncover your
              talents and boost self-esteem.
            </p>
            <p class="paragraph mb-12">
              Challenge Limiting Beliefs: Reframe negative thoughts and
              challenge any limiting beliefs that hold you back. Avoid
              perfectionism and comparisons with others.
            </p>
          </div>

          <div class="grid grid-cols-1 gap-6">
            <h3 class="text-2xl fw-bold font-Syne leading-10">
              2. Why Self-Esteem Matters:
            </h3>
            <p class="paragraph">
              Self-esteem is not just a personal issue; it has a significant
              impact on our mental and emotional health. People with high
              self-esteem tend to be more resilient, handle criticism better,
              and have healthier relationships. On the other hand, low
              self-esteem can lead to feelings of inadequacy, fear of failure,
              and even mental health disorders like depression and anxiety.
            </p>
            <p class="paragraph">
              Heal and Reflect: Address any past wounds that might be affecting
              your self-esteem. Practice self-compassion and visualize a
              healthier self-esteem.
            </p>
            <p class="paragraph">
              Practice Self-Care: Prioritize your physical and emotional
              well-being by engaging in activities that bring joy and
              replenishment.
            </p>
            <div
              class="d-inline-flex justify-content-between flex-column flex-md-row gap-4 gap-md-0"
            ></div>
          </div>
        </div>
      </section>

      <!-- Blog Section Start -->
      <section class="bg-white pb-120">
        <div class="container">
          <div class="row">
            <div class="col-12" data-aos="flip-down">
              <div
                class="fw-bold font-Syne text-center leading-none flex flex-wrap flex-column gap-y-2 mb-10"
              >
                <span class="text-warning text-xl">Blog</span>
                <h3 class="section-title text-dark">
                  My blog
                  <span class="position-relative circle-shape blog-shape-inner"
                    >po</span
                  >st
                </h3>
              </div>
            </div>
          </div>

          <div class="blog-grid">
            <!-- Blog Item Start -->
            <div class="blog-item" data-aos="fade-up">
              <div class="rounded-20 overflow-hidden mb-6">
                <img class="w-100" src="blogindex.jpg" alt="blog image" />
              </div>
              <div class="d-flex flex-wrap flex-column gap-3">
                <ul
                  class="d-flex flex-wrap text-sm fw-normal font-Inter leading-tight p-0 list-unstyled m-0 p-0 list-unstyled m-0"
                >
                  <li class="blog-meta-item">
                    <a href="#">Self-Esteem</a>
                  </li>
                  <li class="blog-meta-item">
                    <a href="#">02 September 2024</a>
                  </li>
                </ul>
                <div
                  class="d-flex justify-content-between align-items-end text-dark blog-title-section"
                >
                  <h4
                    class="fw-bold font-Syne transition-all leading-8 blog-title"
                  >
                    <a href="/building-self-esteem-foundation-mental-well-being"
                      >Building Self-Esteem: The Foundation of Mental
                      Well-Being</a
                    >
                  </h4>
                  <a href="/building-self-esteem-foundation-mental-well-being">
                    <svg
                      class="animate-arrow-up"
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M30.8839 9.11612C31.372 9.60427 31.372 10.3957 30.8839 10.8839L10.8839 30.8839C10.3957 31.372 9.60427 31.372 9.11612 30.8839C8.62796 30.3957 8.62796 29.6043 9.11612 29.1161L29.1161 9.11612C29.6043 8.62796 30.3957 8.62796 30.8839 9.11612Z"
                        fill="currentColor"
                        fill-opacity="0.9"
                      />
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M12.5 10C12.5 9.30964 13.0596 8.75 13.75 8.75H30C30.6904 8.75 31.25 9.30964 31.25 10V26.25C31.25 26.9404 30.6904 27.5 30 27.5C29.3096 27.5 28.75 26.9404 28.75 26.25V11.25H13.75C13.0596 11.25 12.5 10.6904 12.5 10Z"
                        fill="currentColor"
                        fill-opacity="0.9"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <!-- Blog Item End -->
          </div>
        </div>
      </section>
      <!-- Blog Section End -->

      <footer class="footer bg-dark">
        <div class="container">
          <div
            class="overflow-x-hidden"
            data-aos="flip-down"
            data-aos-delay="500"
          >
            <div class="footer-grid">
              <div class="pt-12">
                <h3 class="section-title text-white mb-0">
                  <span class="position-relative circle-shape footer-shape"
                    >Le</span
                  >
                  t’s work together
                </h3>
                <div class="d-flex flex-wrap align-items-center mt-10">
                  <span class="text-xl fw-bold font-Syne text-white"
                    >Based in India |</span
                  >
                </div>
              </div>

              <div
                class="d-flex flex-column justify-content-between service-contact-card-footer"
              >
                <h3 class="text-xl fw-bold font-Syne text-white">
                  Looking for a Counseling Psychologist?
                </h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p
                    class="text-2xl fw-bold font-Syne leading-none text-warning"
                  >
                    drpriyaanka<span style="font-size: 34px">1</span>@gmail.com
                  </p>
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    class="text-white animate-arrow-up"
                  >
                  </a>
                </div>
              </div>

              <div
                class="d-flex flex-column justify-content-between service-contact-card-footer"
              >
                <h3 class="text-xl fw-bold font-Syne text-white">
                  Want book an appointment?
                </h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p
                    class="text-2xl fw-bold font-Syne leading-none text-warning"
                  >
                    WhatsApp me 9453430043
                  </p>
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    target="_blank"
                    class="text-white animate-arrow-up"
                  >
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                      <path
                        d="M11.6667 28.3334L28.3334 11.6667"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M11.6667 11.6667H28.3334V28.3334"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="py-72">
                  <svg
                    class="w-100"
                    width="1281"
                    height="77"
                    viewBox="0 0 1281 77"
                    fill="none"
                  >
                    <text
                      x="50%"
                      y="50%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                      font-family="Arial, sans-serif"
                      font-size="60"
                      fill="#FFE9D9"
                      dy=".3em"
                    >
                      DR PRIYANKA
                    </text>
                  </svg>
                </div>
              </div>
            </div>

            <div class="pt-6 copyright">
              <div class="row">
                <div class="col-12 col-sm-8 order-last order-sm-first">
                  <p class="text-white text-lg fw-normal font-sans leading-7">
                    ©2024 Dr Priyanka, All Rights Reserved
                  </p>
                </div>
                <div class="col-12 col-sm-4 order-first order-sm-last">
                  <div class="d-flex justify-content-end mb-2 mb-sm-0">
                    <a
                      id="scrollUp"
                      class="d-flex flex-wrap align-items-center gap-2"
                      href="#"
                      aria-label="scroll up"
                    >
                      <span
                        class="text-white text-lg fw-normal font-sans leading-7 transition-all"
                      >
                        Back to Top</span
                      >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 19V5"
                          stroke="#FFB646"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M19 12L12 5L5 12"
                          stroke="#FFB646"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
    </div>

    <!-- JS Vendor, Plugins & Activation Script Files -->
    <script>
      /*=============== SHOW MENU ===============*/
      const showMenu = (toggleId, navId) => {
        const toggle = document.getElementById(toggleId),
          nav = document.getElementById(navId);

        toggle.addEventListener("click", () => {
          // Add show-menu class to nav menu
          nav.classList.toggle("show-menu");

          // Add show-icon to show and hide the menu icon
          toggle.classList.toggle("show-icon");
        });
      };

      showMenu("nav-toggle", "nav-menu");
    </script>
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/aos.js"></script>

    <!-- Activation JS -->
    <script src="assets/js/main.js"></script>
  </body>

  <!-- Mirrored from www.hiveart.xyz/perez-bootstrap/light-version/blog-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Sep 2024 17:47:31 GMT -->
</html>
