<!DOCTYPE html>
<html class="no-js" lang="en">
  <!-- Mirrored from www.hiveart.xyz/perez-bootstrap/light-version/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Sep 2024 17:46:56 GMT -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Doctor Priyanka</title>
    <meta name="AdsBot-Google" content="noindex follow" />
    <meta
      name="description"
      content="Dr Priyanka Personal Portfolio Webiste "
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.png"
    />

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&amp;family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Syne:wght@400;500;600;700;800&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />

    <!-- Plugins CSS (All Plugins Files) -->
    <link rel="stylesheet" href="assets/css/plugins/aos.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/pages/home.css" />
    <link rel="stylesheet" href="assets/navbar.css" />
  </head>

  <body>
    <div class="overflow-x-hidden">
      <!-- Header start -->
      <!--Whatsapp Button-->

      <!-- <div class="whatsupphover">
        <a class="button2">
          WhatsApp
          <svg viewBox="0 0 48 48" y="0px" x="0px">
            <path
              d="M4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98c-0.001,0,0,0,0,0h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303z"
              fill="#fff"
            ></path>
            <path
              d="M4.868,43.803c-0.132,0-0.26-0.052-0.355-0.148c-0.125-0.127-0.174-0.312-0.127-0.483l2.639-9.636c-1.636-2.906-2.499-6.206-2.497-9.556C4.532,13.238,13.273,4.5,24.014,4.5c5.21,0.002,10.105,2.031,13.784,5.713c3.679,3.683,5.704,8.577,5.702,13.781c-0.004,10.741-8.746,19.48-19.486,19.48c-3.189-0.001-6.344-0.788-9.144-2.277l-9.875,2.589C4.953,43.798,4.911,43.803,4.868,43.803z"
              fill="#fff"
            ></path>
            <path
              d="M24.014,5c5.079,0.002,9.845,1.979,13.43,5.566c3.584,3.588,5.558,8.356,5.556,13.428c-0.004,10.465-8.522,18.98-18.986,18.98h-0.008c-3.177-0.001-6.3-0.798-9.073-2.311L4.868,43.303l2.694-9.835C5.9,30.59,5.026,27.324,5.027,23.979C5.032,13.514,13.548,5,24.014,5 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974C24.014,42.974,24.014,42.974,24.014,42.974 M24.014,4C24.014,4,24.014,4,24.014,4C12.998,4,4.032,12.962,4.027,23.979c-0.001,3.367,0.849,6.685,2.461,9.622l-2.585,9.439c-0.094,0.345,0.002,0.713,0.254,0.967c0.19,0.192,0.447,0.297,0.711,0.297c0.085,0,0.17-0.011,0.254-0.033l9.687-2.54c2.828,1.468,5.998,2.243,9.197,2.244c11.024,0,19.99-8.963,19.995-19.98c0.002-5.339-2.075-10.359-5.848-14.135C34.378,6.083,29.357,4.002,24.014,4L24.014,4z"
              fill="#cfd8dc"
            ></path>
            <path
              d="M35.176,12.832c-2.98-2.982-6.941-4.625-11.157-4.626c-8.704,0-15.783,7.076-15.787,15.774c-0.001,2.981,0.833,5.883,2.413,8.396l0.376,0.597l-1.595,5.821l5.973-1.566l0.577,0.342c2.422,1.438,5.2,2.198,8.032,2.199h0.006c8.698,0,15.777-7.077,15.78-15.776C39.795,19.778,38.156,15.814,35.176,12.832z"
              fill="#40c351"
            ></path>
            <path
              clip-rule="evenodd"
              d="M19.268,16.045c-0.355-0.79-0.729-0.806-1.068-0.82c-0.277-0.012-0.593-0.011-0.909-0.011c-0.316,0-0.83,0.119-1.265,0.594c-0.435,0.475-1.661,1.622-1.661,3.956c0,2.334,1.7,4.59,1.937,4.906c0.237,0.316,3.282,5.259,8.104,7.161c4.007,1.58,4.823,1.266,5.693,1.187c0.87-0.079,2.807-1.147,3.202-2.255c0.395-1.108,0.395-2.057,0.277-2.255c-0.119-0.198-0.435-0.316-0.909-0.554s-2.807-1.385-3.242-1.543c-0.435-0.158-0.751-0.237-1.068,0.238c-0.316,0.474-1.225,1.543-1.502,1.859c-0.277,0.317-0.554,0.357-1.028,0.119c-0.474-0.238-2.002-0.738-3.815-2.354c-1.41-1.257-2.362-2.81-2.639-3.285c-0.277-0.474-0.03-0.731,0.208-0.968c0.213-0.213,0.474-0.554,0.712-0.831c0.237-0.277,0.316-0.475,0.474-0.791c0.158-0.317,0.079-0.594-0.04-0.831C20.612,19.329,19.69,16.983,19.268,16.045z"
              fill-rule="evenodd"
              fill="#fff"
            ></path>
          </svg>
        </a>
      </div> -->

      <header class="imported-header">
        <nav class="imported-nav container">
          <div class="imported-nav__data">
            <a href="/" class="imported-nav__logo">
              <i class="ri-planet-line"></i> Dr.Priyanka
            </a>

            <div class="imported-nav__toggle" id="nav-toggle">
              <i class="ri-menu-line imported-nav__burger"></i>
              <i class="ri-close-line imported-nav__close"></i>
            </div>
          </div>

          <!--=============== NAV MENU ===============-->
          <div class="imported-nav__menu" id="nav-menu">
            <ul
              class="imported-nav__list"
              style="margin-left: 0px; padding-left: 0px"
            >
              <li><a href="/" class="imported-nav__link">Home</a></li>

              <li><a href="/about" class="imported-nav__link">About</a></li>

              <!--=============== DROPDOWN 1 ===============-->
              <li class="imported-dropdown__item">
                <a href="/blog" class="imported-nav__link">
                  Blogs
                  <i class="ri-arrow-down-s-line imported-dropdown__arrow"></i>
                </a>

                <ul
                  class="imported-dropdown__menu"
                  style="margin-left: 0px; padding-left: 0px"
                >
                  <li>
                    <a
                      href="/building-self-esteem-foundation-mental-well-being"
                      class="imported-dropdown__link"
                    >
                      building-self-esteem-foundation-mental-well-being
                    </a>
                  </li>
                </ul>
              </li>

              <li><a href="/contact" class="imported-nav__link">Contact</a></li>

              <!--=============== DROPDOWN 2 ===============-->
            </ul>
          </div>
        </nav>
      </header>

      <!-- offcanvas-menu end -->

      <!-- Header end -->

      <!-- Hero section start -->
      <section class="bg-secondary position-relative pt-50 pb-90 mt-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="hero-content-wrapper">
                <div class="col-1g-8 col-md-9 col-sm-11 col-12">
                  <p
                    class="font-Syne fw-bold text-lg leading-tight iam-designer mb-30"
                    data-aos="fade-right"
                    data-aos-delay="800"
                  >
                    "An old dream is dead and a new one is being born, as a
                    flower that pushes through the solid earth…A new strength
                    born of suffering is pulsating in the veins and a new
                    sympathy and understanding is being born out of the past
                    suffering. A greater desire to see others suffer less and,
                    if they must suffer, to see that they bear it nobly and come
                    out of it without too many scars. I have wept but I do not
                    want others to weep but if they do I now
                    know what it means…"
                  </p>
                </div>
                <span
                  class="font-Syne text-dark fw-bold lh-1 text-2xlll d-flex flex-wrap align-items-center hello-iam mt-4"
                  data-aos="fade-right"
                  data-aos-delay="300"
                >
                  <span>
                    <svg width="65" height="2" viewBox="0 0 65 2" fill="none">
                      <path d="M0 1H65" stroke="#080808" />
                    </svg>
                  </span>

                  Jiddu Krishnamurthy After His Brother's Demise
                </span>
                <span
                  class="font-Syne text-dark fw-bold lh-1 text-2xl d-flex flex-wrap align-items-center hello-iam mt-4"
                  data-aos="fade-right"
                  data-aos-delay="300"
                >
                </span>
                <span
                  class="font-Syne text-dark fw-bold lh-1 text-2xl d-flex flex-wrap align-items-center hello-iamam mt-4 mb-5"
                  data-aos="fade-right"
                  data-aos-delay="300"
                >
                  Hello I am
                </span>
                <h1
                  class="hero-title font-Syne fw-bold position-relative z-1 circle-shape mt-5"
                  data-aos="fade-right"
                  data-aos-delay="400" style="display: inline;"
                >
                  Dr  <h2
                  class="hero-title font-Syne fw-bold mb-20"
                  data-aos="fade-right"
                  data-aos-delay="600"
                  style="display: inline;"
                >
                  Priyanka
                </h2>
                  <!-- <br /> Henry -->
                </h1>
               
                <p
                  class="font-Syne fw-bold text-lg leading-tight iam-designer mb-30 mt-5"
                  data-aos="fade-right"
                  data-aos-delay="800"
                >
                So if you are here , dear one, let me tell you that whatever it is that you are going through, I hear you and understand and assure to hand hold you through your journey of healing and transformation.
                </p>

                <div
                  class="d-flex flex-wrap hero-btn-wraper justify-content-center"
                >
                  <!-- Link Start -->
                  <span
                    data-aos="fade-right"
                    data-aos-delay="1000"
                    class="mb-4"
                  >
                    <a
                      href="/contact"
                      class="d-flex align-items-center flex-wrap btn-primary"
                      >If you wish to connect with me Contact
                     
                    </a>
                  </span>
                  <!-- Link End -->

                  <!-- Link End -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-md-block">
          <img
            class="position-absolute top-0 end-0 hero-image"
            data-aos="fade-left"
            src="priyanaka.png"
            alt="hero Image"
            style="padding-top: 80px"
          />
        </div>
      </section>
      <!-- Hero section end -->

      <!-- Service start -->
      <section class="py-120">
        <div class="container">
          <div
            class="row mb-12 align-items-center"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="col-12 col-lg-12">
              <div
                class="fw-bold font-Syne lh-1 d-flex flex-wrap flex-column gap-y-2 justify-content-center"
              >
                <span class="text-warning text-xl text-center">Services</span>
                <h3
                  class="text-dark section-title position-relative circle-shape text-center"
                >
                  My specialties
                </h3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-xl-8">
              <div class="row row-gap-24">
                <!-- service Item -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="500"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Personal Development
                      </a>
                    </h4>
                  </div>
                </div>

                <!-- service Item End -->

                <!-- service Item -->

                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="700"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Emotional well being
                      </a>
                    </h4>
                  </div>
                </div>

                <!-- service Item End -->

                <!-- service Item -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="900"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Anxiety and Depression
                      </a>
                    </h4>
                  </div>
                </div>

                <!-- service Item End -->

                <!-- service Item -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="1100"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Relationship problems
                      </a>
                    </h4>
                  </div>
                </div>

                <!-- service Item End -->

                <!-- service Item -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="1300"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Holistic healing
                      </a>
                    </h4>
                  </div>
                </div>

                <!-- service Item End -->

                <!-- service Item -->
                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="1500"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Stress and Burnout
                      </a>
                    </h4>
                  </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="1500"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Parenting Challenges
                      </a>
                    </h4>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                  <div
                    class="service-card"
                    data-aos="fade-up"
                    data-aos-delay="1500"
                  >
                    <!-- Icon -->
                    <div
                      class="d-flex flex-wrap align-items-center justify-content-center service-icon"
                    ></div>

                    <!-- Icon End -->
                    <h4>
                      <a
                        href="#"
                        class="d-flex flex-wrap align-items-end justify-content-between fw-bold text-xl font-Syne service-card-link"
                      >
                        Adolescence challenges
                        </a> 
                      </a>
                    </h4>
                  </div>
                </div>
                <!-- service Item End -->
              </div>
            </div>

            <div
              class="col-12 col-xl-4"
              data-aos="zoom-in"
              data-aos-delay="1000"
            >
              <div
                class="bg-dark d-flex flex-wrap flex-column justify-content-between service-contact-card"
              >
                <div class="d-flex flex-wrap justify-content-end">
                  <a
                    href="mailto:drpriyaanka1@gmail.com"
                    class="animate-arrow-up"
                  >
                  </a>
                </div>

                <div class="d-flex flex-column flex-wrap gap-y-2">
                  <span class="text-warning text-lg fw-normal lh-1"
                    >SAY HELLO!</span
                  >
                  <h4
                    class="text-white text-xl fw-bold font-Syne lh-1 say-hello-email"
                  >
                    drpriyaanka<span style="font-size: 34px">1</span>@gmail.com
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Service end -->

      <!-- Pricing Section Start -->
      <section class="bg-white pb-120">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div
                class="d-flex flex-column flex-md-row justify-content-between align-items-md-end mb-16"
              >
                <div
                  class="fw-bold font-Syne leading-none d-flex flex-wrap flex-column gap-y-2 pricing-title-section"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <span class="text-warning text-xl">Appointment</span>
                  <h3 class="section-title text-dark">
                    Stay chill and pick your
                    <span class="position-relative circle-shape priceing-shape"
                      >pl</span
                    >an
                  </h3>
                </div>

                <div
                  class="d-flex contact-for-custom-project"
                  data-aos="fade-up"
                  data-aos-delay="700"
                >
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    target="_blank"
                    class="d-flex align-items-center flex-wrap btn-primary"
                  >
                    So if you wish to connect with me
                    <span class="d-inline-block ml-3 animate-arrow-up">
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M7 17L17 7"
                          stroke="currentColor"
                          stroke-opacity="0.9"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                        <path
                          d="M7 7H17V17"
                          stroke="currentColor"
                          stroke-opacity="0.9"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing Section End -->

      <!-- Footer Start -->
      <footer class="footer bg-dark">
        <div class="container">
          <div
            class="overflow-x-hidden"
            data-aos="flip-down"
            data-aos-delay="500"
          >
            <div class="footer-grid">
              <div class="pt-12">
                <h3 class="section-title text-white mb-0">
                  <span class="position-relative circle-shape footer-shape"
                    >Le</span
                  >
                  t’s work together
                </h3>
                <div class="d-flex flex-wrap align-items-center mt-10">
                  <span class="text-xl fw-bold font-Syne text-white"
                    >Based in India |</span
                  >
                </div>
              </div>

              <div
                class="d-flex flex-column justify-content-between service-contact-card-footer"
              >
                <h3 class="text-xl fw-bold font-Syne text-white">
                  Looking for a Counseling Psychologist?
                </h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p
                    class="text-xl fw-bold font-Syne leading-none text-warning"
                  >
                    drpriyaanka<span style="font-size: 34px">1</span>@gmail.com
                  </p>
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    class="text-white animate-arrow-up"
                  >
                  </a>
                </div>
              </div>

              <div
                class="d-flex flex-column justify-content-between service-contact-card-footer"
              >
                <h3 class="text-xl fw-bold font-Syne text-white">
                  Want book an appointment?
                </h3>
                <div class="d-flex justify-content-between align-items-center">
                  <p
                    class="text-2xl fw-bold font-Syne leading-none text-warning"
                  >
                    WhatsApp me 9453430043
                  </p>
                  <a
                    href="https://wa.me/919453430043?text=Want%20to%20connect%20with%20you"
                    target="_blank"
                    class="text-white animate-arrow-up"
                  >
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none">
                      <path
                        d="M11.6667 28.3334L28.3334 11.6667"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M11.6667 11.6667H28.3334V28.3334"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="py-72">
                  <svg
                    class="w-100"
                    width="1281"
                    height="77"
                    viewBox="0 0 1281 77"
                    fill="none"
                  >
                    <text
                      x="50%"
                      y="50%"
                      text-anchor="middle"
                      alignment-baseline="middle"
                      font-family="Arial, sans-serif"
                      font-size="60"
                      fill="#FFE9D9"
                      dy=".3em"
                    >
                      DR PRIYANKA
                    </text>
                  </svg>
                </div>
              </div>
            </div>

            <div class="pt-6 copyright">
              <div class="row">
                <div class="col-12 col-sm-8 order-last order-sm-first">
                  <p class="text-white text-lg fw-normal font-sans leading-7">
                    ©2024 Dr Priyanka, All Rights Reserved
                  </p>
                </div>
                <div class="col-12 col-sm-4 order-first order-sm-last">
                  <div class="d-flex justify-content-end mb-2 mb-sm-0">
                    <a
                      id="scrollUp"
                      class="d-flex flex-wrap align-items-center gap-2"
                      href="#"
                      aria-label="scroll up"
                    >
                      <span
                        class="text-white text-lg fw-normal font-sans leading-7 transition-all"
                      >
                        Back to Top</span
                      >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                      >
                        <path
                          d="M12 19V5"
                          stroke="#FFB646"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M19 12L12 5L5 12"
                          stroke="#FFB646"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer End -->
    </div>

    <!-- JS Vendor, Plugins & Activation Script Files -->
    <script>
      /*=============== SHOW MENU ===============*/
      const showMenu = (toggleId, navId) => {
        const toggle = document.getElementById(toggleId),
          nav = document.getElementById(navId);

        toggle.addEventListener("click", () => {
          // Add show-menu class to nav menu
          nav.classList.toggle("show-menu");

          // Add show-icon to show and hide the menu icon
          toggle.classList.toggle("show-icon");
        });
      };

      showMenu("nav-toggle", "nav-menu");
    </script>
    <!-- Vendors JS -->
    <script src="assets/js/vendor/modernizr-3.11.7.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/aos.js"></script>
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/jquery.waypoints.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>

    <!-- Activation JS -->
    <script src="assets/js/main.js"></script>
  </body>
</html>
