<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta content="width=device-width, initial-scale=1.0" name="viewport" />
      <title>Dr Priyanka - Index Page</title>
      <meta name="description" content="" />
      <meta name="keywords" content="" />
      <meta name="robots" content="noindex, nofollow" />
      <!-- Favicons -->
      <link href="assets/img/favicon.png" rel="icon" />
      <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
      <!-- Fonts -->
      <link href="https://fonts.googleapis.com" rel="preconnect" />
      <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap"
         rel="stylesheet"
         />
      <!-- Vendor CSS Files -->
      <link href="asset/css/bootstrap.min.css" rel="stylesheet" />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
         integrity="sha384-tViUnnbYAV00FLIhhi3v/dWt3Jxw4gZQcNoSCxCIFNJVCx7/D55/wXsrNIRANwdD"
         crossorigin="anonymous"
         />
      <link href="asset/css/aos.css" rel="stylesheet" />
      <link href="asset/css/glightbox.min.css" rel="stylesheet" />
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
         />
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
      <!-- Main CSS File -->
      <link href="asset/css/main.css" rel="stylesheet" />

   </head>
   <body class="index-page">
      <div class="row">
         <div class="headerblackstrip">
            <div class="scroll">
               <div class="righthtoleft">
                  <p>
                     So if you are here , dear one, let me tell you that whatever it is
                     that you are going through, I hear you and understand and assure
                     to hand hold you through your journey of healing
                     and transformation.
                  </p>
               </div>
            </div>
         </div>
      </div>
      <header
         id="header"
         class="header d-flex align-items-center sticky-top"
         style="
         top: 4vh;
         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
         rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
         "
         >
         <div
            class="container position-relative d-flex align-items-center justify-content-between"
            >
            <nav id="navmenu" class="navmenu">
               <ul>
                  <li>
                     <a href="#hero" class="active">Home<br /></a>
                  </li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#goals">Goals</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#">Blogs</a></li>
                  <li><a href="#feedback">Feedback</a></li>
             
                  <li><a href="#contact">Contact</a></li>
               </ul>
               <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
            <a
               href="index.html"
               class="logo d-flex align-items-center me-auto me-xl-0"
               >
               <!-- Uncomment the line below if you also wish to use an image logo -->
               <!-- <img src="assets/img/logo.png" alt=""> -->
               <h1 class="sitename">Dr<span>.</span>Priyanka</h1>
            </a>
            <a class="btn-getstarted" href="https://wa.me/919453430043?text=hi
            " target="_blank"
               >whatsapp</a
               >
         </div>
      </header>
      <main class="main">
         <!--SLider -->
         <div class="" id="hero">
            <div class="slider">
               <div class="list">
                   <div class="item">
                       <img src="asset/images/slider2.png" alt="image1">
                    
                   </div>
                   <div class="item">
                       <img src="asset/images/slider4.png" alt="image2">
                   </div>
                   <div class="item">
                       <img src="asset/images/slider3.png" alt="image3">
                   </div>
                   <div class="item">
                       <img src="asset/images/slider1.png" alt="image4">
                   </div>
                   
               </div>
               <!--button prev and next-->
               <div class="buttons">
                   <button id="prev"></button>
               <button id="next"></button>
               </div>
               <!--Dots (if 5 items => 5 dots)-->
               <ul class="dots">
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                  <li></li>
               </ul>
           </div>
         </div>
         <!--Slider ends-->
         <!-- About Section -->
    
        
         <section id="about" class="about section mt-3">
            <!-- Section Title -->
            <div class="container section-title background-section mb-5 "  data-aos="fade-up" >
               <p>
                  <span style="font-size: 50px; font-weight: 600;color: white;">Hello I'am</span>
               </p>
               <p>
                  <span class=" fst-italic" style="font-size: 70px; font-weight: 900;color: white;">Dr.</span>
                  <span
                     class="description-title fst-italic"
                     style="font-size: 75px; font-weight: 900;color: white;"
                     >Priyanka</span
                     >
               </p>
               <p>

                  <span
                     class="description-title fst-italic"
                     style="font-size: 30px; font-weight: 800;color: white;"
                     >And if you are here, let me tell you that whatever it is that you're going through, I hear you and understand and assure to hand hold you through your journey of healing and transformation.</span
                     >
               </p>
            </div>
           
            <!-- End Section Title -->
            <div class="container">
               <div class="row gy-4">
                  <div
                     class="col-lg-5"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px"
                     >
                     <img
                        src="asset/images/about1.jpg"
                        class="img-fluid mb-4"
                        alt=""
                        />
                  </div>
                  <div class="col-lg-7" data-aos="fade-up" data-aos-delay="250">
                     <div
                        class="aboutcontainer"
                        style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px"
                        >
                        <div
                           class="container section-title"
                           style="padding-bottom: 1px; margin-top: 0px"
                           data-aos="fade-up"
                           >
                           <p>
                              <span
                                 class="description-title"
                                 style="font-size: 80px; font-weight: 800"
                                 >About Me</span
                                 >
                           </p>
                        </div>
                        <div class="content ps-0 ps-lg-5">
                           <p class="fst-italic">
                              I am a counselling psychologist with over two decades of
                              experience in empowering individuals, couples, and families
                              to achieve optimal mental health and well-being. Trained in
                              western psychological approaches and rooted in Indian
                              philosophical traditions, my aim is to blend the two world
                              views to destigmatise mental health, create awareness and
                              promote mental health care and conscious living amongst all
                              sections of society.
                           </p>
                           <p class="fst-italic">
                              Equipped with a versatile toolkit of modern techniques,
                              including Cognitive Behavioral Therapy (CBT), Acceptance and
                              Commitment Therapy (ACT), Dialectical Behavior Therapy
                              (DBT), Art Therapy and Neuro-Linguistic Programing (NLP) I
                              include interventions to meet the unique needs of each
                              client. With a warm, empathetic, and non-judgmental
                              approach, I prefer to create a safe and supportive
                              environment for clients to explore their concerns, develop
                              coping strategies, and cultivate resilience
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-12 mt-5" data-aos-delay="350">
                     <div class="content ps-0 ps-lg-5">
                        <p class="fst-italic">
                           Whether navigating life transitions, managing mental health
                           conditions, or enhancing relationships, I am dedicated to
                           helping clients unlock their full potential and live a more
                           authentic, fulfilling life. I am also an academician and a
                           researcher. I have the experience of being a part of the
                           teaching faculty in several colleges and universities across
                           the country
                        </p>
                        <p class="fst-italic">
                           Although sporadic it has given me an opportunity to deliver
                           lectures and in doing so be in tune with emerging trends in
                           psychology and also interact and guide young minds. Military
                           families as a population holds special place in my heart. As a
                           researcher and a military wife I have used my skills to study
                           the this population and my research papers have been published
                           in international publications.
                        </p>
                        <ul>
                           <li>
                              <i class="bi bi-check-circle-fill fst-italic"></i>
                              <spanc class="fst-italic"
                                 >
                              Mishra Priyanka and Singh Vandana,(2013); Exploring the
                              Impact of Parental Military Deployment /Field posting on
                              Adolescents in Indian Military Families, Psychological
                              studies, ISSN 0033-2968 (January–March 2014)
                              59(1):36–43,DOI 10.1007/s12646-013-0224-8</span
                                 >
                           </li>
                           <li>
                              <i class="bi bi-check-circle-fill fst-italic"></i>
                              <span class="fst-italic"
                                 >Misra P. (2019). Exploring the Challenges Faced By Indian
                              Military Wives during Spousal Deployment/ Field Area
                              Posting. International Journal of Indian Psychology, 7(3),
                              387-403. DIP:18.01.045/20190703, DOI:10.25215/0703.045
                              </span>
                           </li>
                           <li>
                              <i class="bi bi-check-circle-fill "></i>
                              <span class="fst-italic"
                                 >Misra P. (2022). Exploring The Emotional Experiences of
                              Indian Military Wives During Multiple and Prolonged
                              Deployment/ Field Area Posting Induced Separation.
                              International Journal of Indian Psychology, 10(1),
                              039-052. DIP:18.01.005.20221001, DOI:10.25215/1001.005
                              .</span
                                 >
                           </li>
                        </ul>
                        <p class="fst-italic">
                           Being a military wife I understand completely when M.Segal(1999), describes both military and the family as “greedy institutions that compete for the commitment loyalty, time and energy of the members”. More work is on the way for Segal’s proposal that “the more military services adapt to family needs, the more committed will be the service members and their families to the institution” serves as an inspiration.
                        </p>
                        <p class="fst-italic">
                           I am also an emerging content creator. Through my you tube channel Instagram page and blogs my aim is to share insights from psychological research and also the spiritual wisdom and knowledge I have acquired, having walked that path for several years now, which people can use to uplift enhance and optimize their daily life. Awareness will lead to more <strong>CONSCIOUS LIVING</strong> 
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- /About Section -->
         <!-- backgroundimage Section -->
         <section id="stats" class="stats section dark-background">
            <img src="https://wallpapers.com/images/featured/nature-reserves-jbfltc74pee2hnxv.jpg" alt="" data-aos="fade-in" />
            <div
               class="container position-relative"
               data-aos="fade-up"
               data-aos-delay="100"
               >
               <div class="row gy-4">
                  <div class="col-lg-12 col-md-12">
                     <div class="stats-item text-center w-100 h-100">
                        <p class="fst-italic" style="font-size: 35px;">                The goals of counseling and therapy are to foster emotional relief, self-awareness, behavioral change, improved relationships, effective coping strategies, personal goal achievement, and resilience.</p>
                     </div>
                  </div>
                  <!-- End Stats Item -->
               </div>
            </div>
         </section>
         <!-- /backgroundimage Section -->
         <!-- goals Section -->
         <section id="goals" class="chefs section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
               <p>
                  <span  style="font-size: 75px; font-weight: 800">Goals of </span>
                  <span  style="font-size: 75px; font-weight: 800" class="description-title" >Counseling and therapy 
                  <br /></span>
               </p>
            </div>
            <!-- End Section Title -->
            <div class="container">
               <div class="row gy-4">
                  <div
                     class="col-lg-4 d-flex align-items-stretch "
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member ">
                        <div class="member-info mt-4">
                           <h4>Emotional Relief</h4>
                           <p>
                              Helping individuals manage and alleviate symptoms of mental health conditions, such as anxiety, depression, or trauma
                           </p>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-lg-4 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member">
                        <div class="member-info mt-4">
                           <h4>Self-Understanding</h4>
                           <p>
                              Increasing self-awareness and understanding of one’s thoughts, feelings, and behaviors to facilitate personal growth.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-lg-4 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member">
                        <div class="member-info">
                           <h4>Behavioral Change</h4>
                           <p>
                              Assisting individuals in identifying and modifying maladaptive behaviors and developing healthier coping strategies
                           </p>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-lg-4 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member">
                        <div class="member-info mt-4">
                           <h4>Improving Relationships</h4>
                           <p>
                              Enhancing interpersonal skills and resolving relationship issues by improving communication and understanding.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-lg-4 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member">
                        <div class="member-info mt-4">
                           <h4>Coping Skills</h4>
                           <p>
                              Equipping individuals with tools and strategies to handle life’s challenges and stressors effectively.
                           </p>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-lg-4 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member">
                        <div class="member-info mt-4">
                           <h4>Goal Setting</h4>
                           <p>
                              Helping clients set and achieve personal or professional goals and enhance their overall quality of life
                           </p>
                        </div>
                     </div>
                  </div>
                  <div
                     class="col-lg-4 d-flex align-items-stretch"
                     data-aos="fade-up"
                     data-aos-delay="100"
                     >
                     <div class="team-member">
                        <div class="member-info mt-4">
                           <h4>Resilience Building</h4>
                           <p>
                              Strengthening an individual's ability to adapt and bounce back from adversity or stress.
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Chef Team Member -->
               </div>
            </div>
         </section>
         <!-- /goals Section -->


         <!-- backgroundimage Section -->
         <section id="stats" class="stats section dark-background">
            <img src="https://technotruth.co.uk/wp-content/uploads/2023/12/Psychology-and-curation-image-scaled.webp" alt="" data-aos="fade-in" />
            <div
               class="container position-relative"
               data-aos="fade-up"
               data-aos-delay="100"
               >
               <div class="row gy-4">
                  <div class="col-lg-12 col-md-12">
                     <div class="stats-item text-center w-100 h-100">
                        <p class="fst-italic" style="font-size: 35px;">  
                           Counseling and therapy focus on personal development, emotional well-being, managing anxiety and depression, resolving relationship issues, holistic healing, overcoming stress and burnout, and addressing parenting and adolescence challenges                                
                        </p>
                     </div>
                  </div>
                  <!-- End Stats Item -->
               </div>
            </div>
         </section>
         <!-- /backgroundimage Section -->


         <!-- service Section -->
         <section id="service" class="chefs section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
               <p>
                  <span  style="font-size: 80px; font-weight: 800" class="description-title" >Services 
                  <br /></span>
               </p>
            </div>
            <!-- End Section Title -->
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-12 mt-3 justify-content-between">
                     <div class="e-card playing">
                        <div class="image"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="infotop fst-italic">
                           
                           <br>      
                           Personal Development
                           <br>
                           <!-- <div class="name">MikeAndrewDesigner</div>-->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mt-3 justify-content-center">
                     <div class="e-card playing">
                        <div class="image"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="infotop fst-italic">
                           
                           <br>      
                           Emotional well being
                           <br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mt-3 justify-content-center">
                     <div class="e-card playing">
                        <div class="image"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="infotop fst-italic">
                           
                           <br>      
                           Anxiety and Depression
                           <br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mt-3 justify-content-center">
                     <div class="e-card playing">
                        <div class="image"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="infotop fst-italic">
                           
                           <br>      
                           Relationship problems
                           <br>
                           <!-- <div class="name">MikeAndrewDesigner</div>-->
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mt-3 justify-content-center">
                     <div class="e-card playing">
                        <div class="image"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="infotop fst-italic">
                           
                           <br>      
                           Holistic healing
                           <br>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-12 mt-3 justify-content-center">
                     <div class="e-card playing">
                        <div class="image"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="infotop fst-italic">
                           
                           <br>      
                           Stress and Burnout
                           <br>
                        </div>
                     </div>
                    
                  </div>
                  <div class="col-lg-4 col-12 mt-3 justify-content-center">
                    <div class="e-card playing">
                       <div class="image"></div>
                       <div class="wave"></div>
                       <div class="wave"></div>
                       <div class="wave"></div>
                       <div class="infotop fst-italic">
                          
                          <br>      
                          Parenting Challenges
                          <br>
                       </div>
                    </div>
                 </div>
                 <div class="col-lg-4 col-12 mt-3 justify-content-center">
                    <div class="e-card playing">
                       <div class="image"></div>
                       <div class="wave"></div>
                       <div class="wave"></div>
                       <div class="wave"></div>
                       <div class="infotop fst-italic">
                        
                          <br>      
                          Adolescence challenges
                          <br>
                       </div>
                    </div>
                 </div>
               </div>
            </div>
         </section>
         <!-- /service Section -->
    
       <!-- Contact Section -->
       <section id="feedback" class="contact section">
         <!-- Section Title -->
         <div class="container section-title" data-aos="fade-up">
            <p>
               <span class="description-title" style="font-size: 75px; font-weight: 800;">Your Feedback</span>
            </p>
         </div>
         <!-- End Section Title -->
         <div class="container" data-aos="fade-up" data-aos-delay="100">
       
          
            <form
               
               class="php-email-form"
               data-aos="fade-up"
               data-aos-delay="600"
               >
               <div class="row gy-4">
                  <div class="col-md-12">
                     <input
                        type="text"
                        name="name"
                        id="name"
                        class="form-control"
                        placeholder="Your Name"
                        required=""
                        />
                  </div>
                
                  <div class="col-md-12">
                     <textarea
                        class="form-control"
                        name="Message"
                        rows="6"
                        placeholder="Message"
                        id="Message"
                        required=""
                        ></textarea>
                  </div>
                  <div class="col-md-12 text-center">
                     <div class="loading" id="submitbuttontest">Loading</div>
                     <div class="error-message"></div>
                     <div class="sent-message">
                        Your message has been sent. Thank you!
                     </div>
                     <button type="submit" id="handleformtest">Send Feedback</button>
                  </div>
               </div>
            </form>
            <!-- End Contact Form -->
         </div>
      </section>
      <!-- /Contact Section -->

 
         <!-- Contact Section -->
         <section id="contact" class="contact section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
               <p>
                  <span class="description-title" style="font-size: 75px; font-weight: 800;">Contact Us</span>
               </p>
            </div>
            <!-- End Section Title -->
            <div class="container" data-aos="fade-up" data-aos-delay="100">
          
               <!-- End Google Maps -->
               <div class="row gy-4">
                 
                  <!-- End Info Item -->
                  <div class="col-md-6">
                     <div
                        class="info-item d-flex align-items-center"
                        data-aos="fade-up"
                        data-aos-delay="300"
                        >
                        <i class="icon bi bi-telephone flex-shrink-0"></i>
                        <div>
                           <h3>Call Us</h3>
                           <p>+91 9453430043</p>
                        </div>
                     </div>
                  </div>
                  <!-- End Info Item -->
                  <div class="col-md-6">
                     <div
                        class="info-item d-flex align-items-center"
                        data-aos="fade-up"
                        data-aos-delay="400"
                        >
                        <i class="icon bi bi-envelope flex-shrink-0"></i>
                        <div>
                           <h3>Email Us</h3>
                           <p>
                              <a
                                 href="mailtto:drpriyaanka1@gmail.com"
                                 class="__cf_email__"
                                 
                                 >drpriyaanka1@gmail.com</a
                                 >
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- End Info Item -->
                
                  <!-- End Info Item -->
               </div>
               <form id="handleform"
                  
                  class="php-email-form"
                  data-aos="fade-up"
                  data-aos-delay="600"
                  >
                  <div class="row gy-4">
                     <div class="col-md-6">
                        <input
                           type="text"
                           name="name"
                           class="form-control"
                           placeholder="Your Name"
                           required=""
                           id="name"
                           />
                     </div>
                     <div class="col-md-6">
                        <input
                           type="email"
                           class="form-control"
                           name="Email"
                           placeholder="Your Email"
                           required=""
                           id="Email"
                           />
                     </div>
                     <div class="col-md-12">
                        <input
                           type="number"
                           class="form-control"
                           name="subject"
                           placeholder="Contact"
                           required=""
                           id="Phone"
                           />
                     </div>
                     <div class="col-md-12">
                        <textarea
                           class="form-control"
                           name="Message"
                           rows="6"
                           placeholder="Message"
                           id="Message"
                           ></textarea>
                     </div>
                     <div class="col-md-12 text-center">
                        
                        <button type="submit" id="mssgbtn">Send Message</button>
                     </div>
                  </div>
               </form>
               <!-- End Contact Form -->
            </div>
         </section>
         <!-- /Contact Section -->
      </main>
      <footer id="footer" class="footer dark-background">
         <div class="container">
            <div class="row gy-3">
               <div class="col-lg-4 col-md-6 d-flex">
                  <div class="container section-title" data-aos="fade-up">
                     <p>
                        <span  style="font-size: 40px; font-weight: 800" class="description-title" >Lets Work Together
                        <br /></span>
                     </p>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                  <div>
                     <h4>Contact</h4>
                     <p>
                        <strong>Phone:</strong> <span>+91 9453430043</span><br />
                        <strong>Email:</strong>
                        <span
                           ><a
                           href="mailto:drpriyaanka1@gmail.com"
                           class="__cf_email__"
                           >drpriyaanka1@gmail.com</a
                           ></span
                           ><br />
                     </p>
                  </div>
               </div>
             
               <div class="col-lg-4 col-md-6 justify-content-center">
                  <h4>Follow Us</h4>
                  <div class="social-links d-flex">
                     <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                     <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                     <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                     <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="container copyright text-center mt-4">
            <p>
               © <span>Copyright</span> <strong class="px-1 sitename">Dr.Priyanka</strong>
               <span>All Rights Reserved</span>
            </p>
            <div class="credits">
         
               Designed by <a href="https://ushodayaa.com/" target="_blank">Prasoon Sengar</a>
            </div>
         </div>
      </footer>
      <!-- Scroll Top -->
      <a
         href="#"
         id="scroll-top"
         class="scroll-top d-flex align-items-center justify-content-center"
         ><i class="bi bi-arrow-up-short"></i
         ></a>
      <!-- Preloader -->
      <div id="preloader"></div>
      

      <!-- Vendor JS Files -->
      <script
         data-cfasync="false"
         src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
         ></script>
      <script src="asset/js/bootstrap.bundle.min.js"></script>
      <script src="../../vendors/php-email-form/validate.js"></script>
      <script src="asset/js/aos.js"></script>
      <script src="asset/js/glightbox.min.js"></script>
      <script src="asset/js/purecounter_vanilla.js"></script>
      <!-- <script src="asset/js/swiper-bundle.min.js"></script> -->
      <!-- Main JS File -->
      <script src="asset/js/main.js"></script>
      <script src="scriptindex.js"></script>
      <script src="scriptcontact.js"></script>
      
   </body>
</html>




